#inciales
{
    border-color: aquamarine;
    font-size: 2.5em;
    color: #333333;
    text-align:left;
    margin-bottom: 0.5em;
    font-family: 'Arial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.iniciales:hover {
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s ease;
}

h1
{
    font-size: 2.5em;
    color: #333333;
    text-align:left;
    margin-bottom: 0.5em;
    font-family: 'Arial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2
{
    font-size: 1.5em;
    color: #333333;
    text-align:left;
    margin-bottom: 0.5em;
    font-family: 'Arial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline-block;
    margin-right: 1em;
    text-align: left;
}

nav ul li a
{
    text-decoration: none;
    color: #333333;
}

nav ul li a:hover
{
    text-decoration: underline;
}

section
{
    margin-bottom: 2em;
}

